version: '3.8'

services:
  trading-bot:
    build: .
    container_name: trading-bot
    ports:
      - "80:8000"
    env_file:
      - .env
    restart: always
    volumes:
      - ./backend/app/config.py:/app/backend/app/config.py # Persist config changes
      - ./trading_bot.log:/app/trading_bot.log # Persist logs
