version: '3.8'

services:
  trading-bot:
    build: .
    container_name: trading-bot
    ports:
      - "80:8000"
    env_file:
      - .env
    restart: always
    volumes:
      - ./backend/app/core/config.py:/app/backend/app/core/config.py # Persist config changes
      - ./logs:/app/logs # Persist logs
      - ./data:/app/data # Persist database (folder)
